<div class="permission-table grid">
	<p class="permission-disclaimer">
		{{localize "PM.Application.PermissionMenu.disclaimer"}}
	</p>

	<div class="permission-header">
		<span>{{localize "PERMISSION.Permission"}}</span>
		<span>{{localize "USER.RolePlayer"}}</span>
		<span>{{localize "USER.RoleTrusted"}}</span>
		<span>{{localize "USER.RoleAssistant"}}</span>
		<span>{{localize "USER.RoleGamemaster"}}</span>
	</div>

	<ul class="permission-list">
		{{#each perms}}
			<li
				class="permission filterable {{#if this.visible}}visible{{/if}}"
				data-group="perms"
				data-scope="{{this.scope}}"
			>
				<span class="id">{{this.name}}</span>
				{{#each this.perms as | perm |}}
					<input
						type="checkbox"
						name="{{perm.name}}"
						{{checked perm.checked}}
						{{#if perm.readonly}}readonly{{/if}}
					>
				{{/each}}
				{{#if this.hint}}
					<p class="hint">{{this.hint}}</p>
				{{/if}}
			</li>
		{{else}}
			<p class="hint">
				No permissions have been registered
			</p>
		{{/each}}
	</ul>
</div>
