<div class="permission-table grid">
	<p class="permission-disclaimer">
		Disclaimer: It is upon a module's programmers to use the permissions
		that they set up. If they do not use their own permissions, then
		there is nothing that the Permission Manager can do about it.
	</p>

	<div class="permission-header">
		<span>Permission</span>
		<span>User</span>
		<span>Trusted</span>
		<span>Assistant</span>
		<span>Gamemaster</span>
	</div>

	<ul class="permission-list">
		{{#each perms}}
			{{#if this.visible}}
				<li
					class="permission"
					data-group="perms"
					data-tab="{{this.scope}}"
				>
					<span>{{this.name}}</span>
					{{#each this.perms as | perm |}}
						<input
							type="checkbox"
							name="{{perm.name}}"
							{{checked perm.checked}}
							{{#if perm.readonly}}readonly{{/if}}
						>
					{{/each}}
					{{#if this.hint}}
						<p class="description">{{this.hint}}</p>
					{{/if}}
				</li>
			{{/if}}
		{{else}}
			<p class="description">
				No permissions have been registered
			</p>
		{{/each}}
	</ul>
</div>
